name: Deploy to S3 + CloudFront

on:
  push:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: lbertenasco/s3-deploy@v1
        with:
          folder: .
          bucket: jaumebalust
          dist-id: E1JXMADX7J0NN2
          invalidation: /*
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
